[submodule "SAE-5.A-EDT-Front"]
	path = SAE-5.A-EDT-Front
	url = https://github.com/DUT-Info-Montreuil/SAE-5.A-EDT-Front.git
    branch = develop # @to-do: change to main when ready
[submodule "SAE-5.A-EDT-API"]
	path = SAE-5.A-EDT-API
	url = https://github.com/DUT-Info-Montreuil/SAE-5.A-EDT-API.git
    branch = develop # @to-do: change to main when ready
# @to-do: create a separate repo for the database
